@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: "KCC-Ganpan";
    src: local("KCC-Ganpan"), url("./fonts/KCC-Ganpan.woff2") format("woff2"),
      url("./fonts/KCC-Ganpan.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  header {
    @apply w-full flex flex-col items-center h-[100px] pt-[40px];
  }

  main {
    @apply w-full flex flex-col items-center min-h-[500px];
  }

  section {
    @apply w-full px-[30px] flex-1 flex flex-col;
  }

  h1 {
    @apply text-title text-cs-admin;
  }

  h2 {
    @apply text-sub-title;
  }

  h3 {
    @apply text-xl;
  }

  input {
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 2px #ddd;
    padding: 0px 5px;
    font-family: "Arial";
    font-size: 13px;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  button:hover .btn-hover {
    display: block;
  }
}

@layer components {
  /* paragraph */
  .text-input-style {
    @apply text-md font-mono text-cs-text;
  }

  .text-error-style {
    @apply text-sm font-mono text-cs-warning;
  }

  .text-guide-style {
    @apply text-sm font-[700] font-mono text-cs-primary;
  }

  .text-guide-disabled {
    @apply text-sm font-mono text-cs-disabled;
  }

  /* button */
  .btn-md-style {
    @apply w-[130px] h-[40px] rounded-[5px] bg-cs-bg-primary text-cs-primary text-lg shadow-sm shadow-cs-bg-primary;
  }

  .btn-md-disabled {
    @apply w-[130px] h-[40px] rounded-[5px] bg-cs-bg-disabled text-cs-disabled text-lg shadow-sm shadow-cs-bg-disabled;
  }

  .btn-admin-style {
    @apply w-[185px] h-[75px] rounded-[5px] text-sub-title bg-cs-admin text-cs-user;
  }

  .btn-user-style {
    @apply w-[185px] h-[75px] rounded-[5px] text-sub-title bg-cs-user text-cs-admin;
  }

  .btn-text-style {
    @apply w-[130px] h-[40px] rounded-[5px] text-cs-title text-base;
  }

  .btn-logout-style {
    @apply w-full h-[30px] rounded-[15px] bg-cs-user text-cs-text shadow-[5px_5px_10px_0_#00000040];
  }

  /* sweet alert */
  .swal2-styled {
    @apply w-[130px] h-[40px] rounded-[5px];
  }

  .swal2-confirm {
    @apply bg-cs-bg-confirm text-[#ffffff];
  }

  .swal2-cancel {
    @apply bg-cs-bg-cancel text-[#ffffff];
  }

  /* toggle */
  .toggle-box-style {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    box-shadow: inset 0 0 10px #b4b4b460;
    border: 1px solid #00000001;
    position: relative;
    user-select: none;
  }

  .toggle-input-style {
    display: none;
  }

  .toggle-input-style:checked ~ label {
    left: calc(100% - 35px);
  }

  .toggle-input-style:checked ~ p {
    color: #00726a80;
  }

  .toggle-text-style {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    @apply font-mono text-cs-disabled;
    transition: all 0.8s;
  }

  .toggle-label-style {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(to bottom, white, #e8eaea);
    filter: drop-shadow(2px 1px 6px #00000040);
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.8s;
    cursor: pointer;
  }
}
